.guide-1699281375181 .guideTextDraw.guideStaticText {
  margin-bottom: 15px;
}
.guide-1699281950729 .guideTextDraw.guideStaticText {
  margin-bottom: 15px;
}
.guide-1699281524827 .guideTextDraw.guideStaticText {
  margin-bottom: 15px;
}
.guide-1699281632906 button.moveNext:not(.af-icon-button) {
  margin-left: 0px;
}
.guide-1699281714394 button.moveNext:not(.af-icon-button) {
  margin-left: 0px;
}
.guide-1699282167980 button.submit:not(.af-icon-button) {
}
